*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

    regola di reset

*/

.my-back-ground{
    border: 1px solid red;
    /* test */
    max-width: 1200px;
    height: 100vh;
}

.my-container{
    
    height: 700px;

    /* test */

    max-width: 1000px;
    max-height: 800px;


    margin-left: auto;
    margin-right: auto;

    margin-top: 25px;
    margin-bottom: 25px;
    
}

/* 

NAVBAR

*/

.my-navbar{
    width: 100%;

    background-color: #EAEAEA;

    display: flex;

}

.my-navbar .my-nav-left{
    border: 1px solid rgba(000, 000, 000, 0.4);

    width: 35%;
}

.my-navbar img{
    width: 35px;
    border-radius: 50%;
}

.my-navbar .my-nav-right{
    border: 1px solid rgba(000, 000, 000, 0.4);

    
    /* test */

    width: 65%;
    
}

/* 

 FINE NAVBAR

*/
/* classi da riutilizzare */
.user-padding{
    padding: 5px 10px;
}

.my-color-icon{
    color: #B1B1B1;
}


/* classi da riutilizzare */

/* 

MAIN 

*/


.main{

    display: flex;


}

/* side bar */


.my-side-bar{
    border: 1px solid rgba(000, 000, 000, 0.4);
    
    height: 650px;

    /* test */

    background-color: #EAEAEA;



    width: 35%;
    
}

.notice{
    background-color: #9FD8F8;
}

.contacts{
    height: calc(650px - 54px - 54px - 50px + 40px);
    overflow: scroll;
}

.contacts li img{
    width: 35px;
    border-radius: 50%;
}

li{
    list-style: none;
}


/* fine side bar */

/* 

Main chat

*/


.my-main-block{
    /* border: 1px solid black; */
    
    height: 650px;

    /* test */

    width: 65%;
}



.my-high-vh{
    height: calc(100vh - 64px);
}




.my-user-input-bg{
    background-color: #F2EEEA;
}

.my-bg-user-chat{
    background-image: url(../img/mine.jpg);
}

.bg-my-answear{
    background-color: #DCF8C0;
}

.bg-your-answear{
    background-color: #FFFFFF;

}

.my-message{
    overflow-wrap: break-word;

}

.your-message{
    overflow-wrap: break-word;

}

